body {
  background-color: #1A1918;
  margin: 0;
  font-family: 'KumbhSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea, select{
  font-family: 'KumbhSans', sans-serif;
}

code {
  font-family: 'KumbhSans', sans-serif;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('./assets/KumbhSans.ttf') format('truetype');
}

