.container_excluir_edital {
    max-width: 600;
    margin: 0 auto;
    text-align: center;
    padding: 30;
}

.button-excluir-edital {
    margin-right: 10;
    background: "red";
     color: "white";
}

h2, p{
    color: aliceblue;
}

.aviso {
    color: yellow;
}