
.container-formulario-pregao-2 {
  background-color: #a8a8a8;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Kumbh Sans', sans-serif;
  color: black;
}

.container-formulario-pregao-1 h1 { 
  color: aliceblue;
  text-align: left; /* Alinha à esquerda */
  margin-bottom: 20px;
  margin-left: 20px; /* Ajuste conforme necessário */
}

.formulario-pregao-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  color: rgba(17, 13, 9, 1);
}

.formulario-pregao-input {
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.formulario-pregao-btn {
  display: block;
  margin: 30px auto 0;
  padding: 12px 24px;
  background-color: #0087C1;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.formulario-pregao-btn:hover {
  background-color: #0070a3;
}

.formulario-pregao-msg {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* organização das divs flex-box */
.formulario-pregao-form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.formulario-pregao-form > .left-container,
.formulario-pregao-form > .right-container {
  width: 45%;
}