/* Container principal da página */
.listar-processos-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo geral da tabela */
.listar-processos-table {
  width: 100%;
  border-collapse: collapse;
}

/* Células da tabela */
.listar-processos-table th,
.listar-processos-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Célula centralizada quando não há dados */
.listar-processos-table td[colspan="9"] {
  text-align: center;
}

/* Botões de ação */
.listar-processos-btn {
  margin-right: 10px;
}

th {
  background-color: #0087C1;
  color: white;
}

td {
  color: white;
}